nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    margin-left: 0; margin-right: 0;
    background-color: black;
    color: white;
    text-align: center;
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;

}
